body {
  background-color:white;
}

.grid {
  margin:1rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 30vh;
  gap:1rem;
}

.grid > img {
  object-fit: cover;
  width:100%;
  height:100%;
  border-radius: 10px;
}
.grid > img:hover {
  filter: blur(4px);
}


.grid > img:nth-child(1), .grid > img:nth-child(9) {
  grid-column: span 2;
}

.grid > img:nth-child(3), .grid > img:nth-child(6) {
  grid-row: span 2;
}

.grid > img:nth-child(5) {
  grid-column: span 2;
  grid-row: span 2;
}